.coupon-header {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

#back {
    height: 24px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    align-items: center;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.title-area img {
    margin-top: 2px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
}

.show-coupons {
    padding: 16px;
    margin-top: 16px;
}

.coupons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.code-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coude-coupon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 17px;
    border: 1px solid #000;
    background: #5184BB;
}

.coude-coupon p {
    width: 150px;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
}

.shear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spans {
    display: flex;
}

.shear span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}

.shear p {
    width: 62px;
    margin-right: 35px;
    line-height: 14px;
}

.code h3 {
    letter-spacing: 3px;
    font-size: 32px;
    color: #fff;
}

.coupon {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 17px;
    margin-top: 24px;
}

.coupon-info h3 {
    font-size: 15px;
}

.coupon-info ul {
    margin-left: 16px;
    font-size: 11px;
}
