button {
    cursor: pointer;
}

.product-container {
    flex: none;
    display: flex;
    scroll-snap-align: start;
}

.product {
    width: 254px;
    height: 190px;
    margin-right: 24px;
    position: relative;
    margin-top: 8px;
    border-radius: 19px;
    scroll-snap-align: start;
    background: #ccc;
}

.product img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
    object-fit: cover;
}

.favorite {
    height: 32px;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
    color: #fff;
    background: none;
}

.btn-footer {
    width: 100%;
    display: flex;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    bottom: 0;
}

.btn-footer button {
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#sifra {
    margin-top: 7px;
    font-size: 10px;
}

.btn-footer button span {
    display: flex;
    justify-content: center;
}

.price {
    width: 61px;
    height: 33px;
}

.add {
    width: 33px;
    height: 33px;
}

.product-info h3 {
    font-size: 1rem;
    margin-top: 8px;
}

.product-info p {
    width: 254px;
    font-size: 10px;
    text-align: justify;
}

.fav,
.fav-info p {
    width: 150px;
}






